*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --green-200-lighter: hsl(148, 38%, 91%);
  --green-600-medium: hsl(169, 82%, 27%);
  --red: hsl(0, 66%, 54%);
  --white: hsl(0, 0%, 100%);
  --grey-500-medium: hsl(186, 15%, 59%);
  --grey-900-darker: hsl(187, 24%, 22%);

  --border-radius-main: 10px;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Karla", sans-serif;
  font-size: 16px;
  color: var(--grey-900-darker);
  background: var(--green-200-lighter);
}

main {
  height: 100%;
  display: flex;
}

.container {
  max-width: 736px;
  width: 90%;
  margin: auto;
  background: var(--white);
  border-radius: var(--border-radius-main);
  padding: clamp(1.5rem, 0.5458rem + 4.0712vw, 2.5rem);
}

form {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  margin: 1rem auto 0;
  padding: 1em 0;
}

/* General Form Styles */
label {
  font-family: inherit;
  font-size: inherit;
  display: block;
  margin-bottom: 0.5rem;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  width: 100%;
  cursor: pointer;
}

input,
textarea {
  border-radius: var(--border-radius-main);
  border: 1px solid var(--grey-500-medium);
  padding: 0 10px;
  margin: 0 0 1rem 0;
  height: 3rem;
}

input:focus,
textarea:focus {
  background: rgba(0, 0, 0, 0.1);
  border-radius: var(--border-radius-main);
  border: 1px solid var(--grey-500-medium);
}

.required:after {
  content: " *";
  color: var(--green-600-medium);
}
